@charset "UTF-8";
@import url(style.css);


.grid {
    display: grid;
    border: 2px solid black;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main side"
    "main main main side"
    "footer footer footer footer";
}


.nav{

}


.header{
    grid-area: header;
    text-align: center;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 25px;
}


.footerLink {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.side{
    display: flex;
    float: right;
    grid-area: side;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    padding: 10px;
}


h2 h3 h4{
    font-size: 30px;
}


p{
    font-family: 'Open Sans', sans-serif;
}

.authorBio{
    font-size: 15px;
}
