@charset "UTF-8";
@import url(style.css);
@import url(buttons.css);


.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main side"
    "main main main side"
    "footer footer footer footer";
}


.header {
    grid-area: header;
    text-align: center;
}


.side {
    display: flex;
    float: right;
    grid-area: side;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    padding: 10px;
    background-color: #e6caff;
}


.main {
    grid-area: main;
}


.authorBio {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}


.bold {
    font-weight: bold;
}


.italics {
    font-style: italic;
}


.underline {
    text-decoration: underline;
}


h5 {
    margin: 0;
    padding: 0;
    line-height: 10px;
}


p {
    font-family: 'Open Sans', sans-serif;
}


ol {
    font-family: 'Open Sans', sans-serif;
}


ul {
    font-family: 'Open Sans', sans-serif;
}


@media (max-width:600px) {
    .grid {
        display: grid;
        grid-template-rows: 250px 1fr 1fr;
        grid-template-columns: 850px;
        grid-template-areas:
        "nav"
        "header"
        "side"
        "main"
        "footer";
    }
}


    @media(min-width: 601px) and (max-width: 900px) {
        .grid {
            display: grid;
            grid-template-rows: 244px 1fr 1fr;
            grid-template-columns: 400px 400px;
            grid-template-areas:
            "nav nav"
            "header header"
            "main side"
            "main side"
            "footer footer";
        }
    }


    @media (min-width:901px) {
        .grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "main main main side"
            "main main main side"
            "footer footer footer footer";
        }
    }