@charset "UTF-8";
@import url(style.css);


.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main side"
    "main main main side"
    "footer footer footer footer";
}

.header{
    grid-area: header;
    text-align: center;
}


.side{
    display: flex;
    float: right;
    grid-area: side;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    padding: 10px;
    background-color: #f5e1fd;
}


.main{
    grid-area: main;
}


h2 {
    margin: 0;
    padding: 0;
    line-height: 10px;
}


h5 {
    margin: 0;
    padding: 0;
    line-height: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
}


.authorBio{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}
