.subscribeButton {
    border: 1px solid whitesmoke;
    border-radius: 25px;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


#readMore {
    border: 1px solide whitesmoke;
    border-radius: 25px;
    background-color: inherit;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-stack;

}