.subscribeButton {
    border: 1px solid whitesmoke;
    border-radius: 25px;
    background-color: #836ba3;
    color: whitesmoke;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


#readMore {
    border: 1px solide whitesmoke;
    border-radius: 25px;
    background-color: #836ba3;
    color: whitesmoke;
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
    display: inline-stack;
}