.footer {
    grid-area: footer;
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #836ba3;
}


.footerLink {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}