@charset "UTF-8";

body {
    background-color: #b399d4;
    font-family: 'Sofia';
}

.grid {
    display: grid;
    border: 2px solid black;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "side main main main"
    "side main main main"
    "footer footer footer footer";
}

.navigationBar {
    grid-area: nav;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid whitesmoke;
    background-color: #966fd6;
    border-radius: 25px;
    height: 50px;
}

.navigationLinks {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header {
    grid-area: header;
    display: flex;
    float: left;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    text-align: left;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 6px;
    background-image: url("img/headpup.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#sidebar {
    grid-area: side;
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #F5E1FD;
}

#main {
    grid-area: main;
    display: flex;
    float: right;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #CE9DD9;
}

h1 {
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    text-shadow: whitesmoke;
    -webkit-text-stroke: 0.5px whitesmoke;
}