@charset "UTF-8";

body {
    background-color: #b399d4;
    font-family: 'Sofia';
}

.grid {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "side main main main"
    "side main main main"
    "footer footer footer footer";
}

.navigationBar {
    grid-area: nav;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid whitesmoke;
    background-color: #966fd6;
    border-radius: 25px;
    height: 50px;
}

.navigationLinks {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header {
    display: flex;
    float: left;
    grid-area: header;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    text-align: center;
    height: 500px;
    width: 500px;
    margin: 0px;
}

#sidebar {
    grid-area: side;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #F5E1FD;
}

#main {
    grid-area: main;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #CE9DD9;
}

h1 {
    color: black;
    font-size: 50px;
}