@charset "UTF-8";

body {
    background-color: #b399d4;
    font-family: 'Sofia';
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "header main main main"
    "side main main main"
    "side main main main"
    "footer footer footer footer";
}

.navigationBar {
    grid-area: nav;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid whitesmoke;
    background-color: #836ba3;
    border-radius: 25px;
    height: 50px;
}

.navigationLinks {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header {
    grid-area: header;
    display: flex;
    float: left;
    border-radius: 25px;
    text-align: left;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 6px;
}

#sidebar {
    grid-area: side;
    width: 250px;
    height: 300px;
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #f5e1fd;
    padding: 5px;
}

#main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}


.postCard{
    border: 2px solid whitesmoke;
    border-radius: 25px;
    height: 450px;
    width: 450px;
    padding: 10px;
    background-color: #e6caff;
    margin: 10px;
}


h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
}


h2 {
    line-height: 10px;
}


.footer{
    grid-area: footer;
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #836ba3;
}


.footerLink {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.subscribeButton{
    border: 1px solid whitesmoke;
    border-radius: 25px;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


p {
    font-family: 'Open Sans', sans-serif;
}


q{
    font-family: 'Sofia';
    font-size: 20px;
}


@media (max-width:600px) {
    .grid {
        display: grid;
        grid-template-rows: 250px 1fr 1fr;
        grid-template-columns: 850px;
        grid-template-areas:
        "nav"
        "header"
        "side"
        "main"
        "footer";
    }
}


    @media(min-width: 601px) and (max-width: 900px) {
        .grid {
            display: grid;
            grid-template-rows: 244px 1fr 1fr;
            grid-template-columns: 400px 400px;
            grid-template-areas:
            "nav nav"
            "header header"
            "side main"
            "main main"
            "footer footer";
        }
    }


    @media (min-width:901px) {
        .grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
            "nav nav nav nav"
            "header main main main"
            "side main main main"
            "side main main main"
            "footer footer footer footer";
        }
    }